*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bg{
    width: 100%;
}
.logo img{
    position: absolute;
    top: 1vw;
    left: 1vw;
    width: 5vw;
}
.para1{
    position: absolute;
    top: 1.2vw;
    left:6vw;
    font-size: 1.9vw;
    color: white;
}
.para2{
    position: absolute;
    top: 1vw;
    right: 5vw;
    font-size: 1.5vw;
    color: white;
}

.drop{
    position: absolute;
    top: 1.2vw;
    right: 3vw;
    width: 1.3vw;
}
.searchbox{
    position: absolute;
    top: 4vw;
    right:1vw;
}
.search{
    width: 30vw;
    border-radius: 15px;
    border: none;
    height: 3vw;
    font-size: 1.5vw;
    opacity: 0.4;
}
.searchbox input::placeholder{
    padding-left: 1vw;
}
.searchimg{
    position: absolute;
    right: 1vw;
    width: 3vw;
}

.popular{
    margin-top: 3vw;
    margin-bottom: 3vw;
  }

.popular p{
    font-size: 5vw;
    text-align: center;
    color: #198593;
  }

  .travel{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .places{
    position: relative;
    width: 15vw;
    height: 20vw;
    background-color: #CCE3EB;
    border-radius: 15px;
    transition: all .2s ease-in-out;
  }
  .places:hover{
    transform: scale(1.3);
  }
  .places img{
    position: relative;
    width:13vw;
    left: 1vw;
    top: 3vw;
  }

  .places p{
    text-align: center;
    position: relative;
    top:3vw;
    font-size: 2vw;
    color: #198593;
  }

  .row{
    display: flex;
    justify-content: space-around;
    margin-top: 13vw;
    }

  .row card{
  align-items: center;
  flex-direction: column;
  gap: 0.01rem;
  background-color: var(--extra-light);
  text-align: center;
  }

  .row img{
   width: 43vw;
   height: 30vw;
  opacity: 1;
  align-items: flex-start;
  }

  .row h4{
   width: 35vw;
   height: 2.7vw;
   font-family: "Spartan";
   font-size: 2.3vw;
   font-weight: 500;
   font-style: normal;
   text-align: left;
   color: #198593;
   margin-top: 2vw;
   margin-bottom: 1vw;
  }

  .row p{
    width: 42vw;
    font-family: "Helvetica Neue";
    font-size: 1.5vw;
    font-weight: 300;
    font-style: normal;
    text-align: left;
    color: #198593;
  }

  
.f1{
  position: absolute;
  top: 433vw;
  width: 98vw;
  height: 11.7vw;
  border-color:white;
  border-width: 1px;
  border-style: dashed;
  background-color: #F4F2F2;
  opacity: 1;
}
  
  .logo1{
    position:absolute;
    width: 5.8vw;
    left: 1.2vw;
    top: 432.3vw;
    opacity: 1;
  }

  .para5{
    position: absolute;
    width: 9.5vw;
    top: 433.3vw;
    left:7vw;
    font-size: 1.5vw;
    color:#198593
  }

  .terms{
    position: absolute;
    width: 30vw;
    height: 4.2vw;
    text-align: left;
    color: #198593;
    top: 437vw;
    left:30vw
  }

  .trip{
    position: absolute;
    width: 25vw;
    text-align: left;
    color: #198593;
    top: 433.2vw;
    right: 2vw;
    
  }

  .ver{
    position: absolute;
    width: 81vw;
    text-align: left;
    color: #198593;
    top: 442vw;
    left: 1.2vw;
  }
  
@media (min-width: 640px) {
  .header {
    display: flex;
  }

  .travel {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .places{
    grid-template-columns: repeat(4, 1fr);
  }

  .card {
    gap: 0;
  }

  .card i {
    font-size: 1.75rem;
  }

  .card h4 {
    font-size: 1rem;
  }

  .card p {
    font-size: 0.7rem;
  }
}


@media (min-width: 1024px) {
  .card {
    gap: 1rem;
  }

  .card i {
    font-size: 3rem;
  }

  .display__card h4 {
    font-size: 1.5rem;
  }

  .card p {
    font-size: 1rem;
  }
}

 
  



